.Menucard{
    background: #FFFFFF;
    border-radius: 48px;
}

  .mySwiper{
    background: #F8F9FB;
    padding-bottom: 7vh;
  }
  .swiper-pagination{
    margin-top: 10vh;
    gap: 10%;
  }
  /* .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    top: 0 !important;
} */

.swiper-pagination-bullet {
  background-color: #DF6751 !important;
  
  
}
.swiper-pagination-bullet-active {
  background-color: #DF6751 !important;
  transform: scale(150%);
  
}
@media screen and (max-width: 768px) {
  .Menucard{
    background: #FFFFFF;
    border-radius: 24px;
}
}