/* .PartSuccess1{
    background: url('./Assets/Overlay.png'), url('./Assets/Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} */
.swiper-cube .swiper-cube-shadow:before {
    content: '';
    background: #FFFFFF !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    filter: blur(50px);
}